<footer class="bg-body-tertiary text-white text-center py-2" data-bs-theme="dark">
    <p>&copy; Usagi Recruit 2024</p>
    <ul class="list-unstyled list-inline">
        <li class="list-inline-item">
            <a href="https://github.com/Kemonski" class="fab fa-github" target="_blank" aria-label="GitHub"></a>
        </li>
        <li class="list-inline-item">
            <a href="https://www.facebook.com/Shiro.Kage.Kenneth/" class="fab fa-facebook" target="_blank" aria-label="Facebook"></a>
        </li>
        <li class="list-inline-item">
            <a href="https://x.com/Chunymaru" class="fab fa-twitter" target="_blank" aria-label="Twitter"></a>
        </li>
    </ul>
</footer>
